<section>
  <div class="jumbotron header">
    <h1 class="display-7">Parallel Pyramidc Calculator</h1>
    <!-- <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p> -->
  </div>

  <main>
    <div class="initial">
      <label for="basic-url">Pyramid Level</label>
      <div class="input-group mb-3">
        <input
          type="number"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>

      <label for="basic-url">Risk ($)</label>
      <div class="input-group mb-3">
        <input
          type="number"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
          [(ngModel)]="risk"
        />
      </div>

      <label for="basic-url">Qty</label>
      <div class="input-group mb-3">
        <input
          type="number"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
          [(ngModel)]="qty"
        />
      </div>
    </div>

    <!-- <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Entry Price</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter Price"
          />
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
      </form> -->
    <div class="action">
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="entry"
          placeholder="Entry Price"
        />
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary" (click)="onAdd()">
            Add
          </button>
        </div>
      </div>
    </div>

    <div class="summary">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Qty</th>
            <th scope="col">Entry</th>
            <th scope="col">P/L</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trade of tradeList">
            <td scope="row">{{ trade.qty }}</td>
            <td>{{ trade.entry }}</td>
            <td>{{ trade.pl }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4> -->
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-danger">
              <span class="my-0">Current STOP LOSS</span>
            </div>
            <strong class="text-danger">{{ sl }}</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span class="text-success">Total Profit/Loss</span>
            <strong class="text-success">{{ totalPL }}</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-primary">
              <span class="my-0">Average Entry Price</span>
            </div>
            <strong class="text-primary">{{ averageEntry }}</strong>
          </li>

          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-primary">
              <span class="my-0">Total Qty</span>
            </div>
            <strong class="text-primary">{{ totalQty }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </main>
</section>
